HELP.md
.gradle
build/
target/
bin/
out/

# Wrapper jars
!gradle/wrapper/gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE Settings
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.apt_generated
.factorypath

# OS files
.DS_Store